body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-image: url('../images/landingPage.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.loop-container {
    text-align: center;
}



.logo {
    font-size: 80px;
    font-weight: 700;
    margin: 10px 0;
}

p {
    font-size: 18px;
    margin-bottom: 40px;
}

.btn-entrar {
    background: white;
    color: #2575fc;
    border: none;
    padding: 12px 40px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-entrar:hover {
    background: #f1f1f1;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    align-items: center;
}

.footer img {
    height: 40px;
    filter: brightness(0) invert(1);
}
