@model Loop.Application.DTOs.EstagiarioDTO

@{
    ViewData["Title"] = "Detalhes do Estagiário";
}

<h2>@ViewData["Title"]</h2>

<div class="card">
    <div class="card-body">
        <h4>@Model.Nome</h4>
        <p><strong>Email:</strong> @Model.Email</p>

        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Voltar</a>
    </div>
</div>
