body {
    font-family: 'Inter', sans-serif;
    background-color: #F9F9F9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        font-size: 14px;
        color: #333;
        margin-bottom: 5px;
        display: block;
    }

    .form-group input,
    .form-group select {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .form-group select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

.btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

    .btn:hover {
        background-color: #0056b3;
    }

.header-logo {
    font-size: 26px;
    color: #4F46E5;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

    .nav-links a {
        color: #007bff;
        margin-left: 10px;
        text-decoration: none;
    }

        .nav-links a:hover {
            text-decoration: underline;
        }
